.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.controlSection {
  margin:  20px 0;
}

#react-player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 5px;
  border-width: 3px;
  background-color: #d3d3d3;
  border-width: 3px !important;
}

#song-media img {
  max-height: 150px;
}
